@model VEdger.Models.UserData

@{
    ViewBag.Title = "UserInfoIndexView";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Style-UserInfo.css" rel="stylesheet" />
</head>
<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <form class="form">
            <div class="col">
                <div class="row">
                    <div class="col mb-3">
                        <div class="row">
                            <div class="col-lg-10">
                                <div class="photoo">
                                    <img src="~/BgImage/1.jpg" class="avatar img-square" alt="user" />
                                </div>
                            </div>
                        </div>
                        <div class="tab-content pt-3">
                            <div class="tab-pane active">
                                <div class="ustawienie">
                                    <div class="content">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Full Name</label>
                                                        <input class="form-control" type="text" name="name" value="@Model.first_name" />
                                                    </div>

                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Date of Birth</label>
                                                        <input class="form-control" type="date" name="age" value="@Model.date_of_birth" />
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Username</label>
                                                        <input class="form-control" type="text" name="username" value="@Model.username" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Email</label>
                                                        <input class="form-control" type="email" value="@Model.email" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Gender</label>
                                                        @{ List<SelectListItem> listItems = new List<SelectListItem>();
                                                            listItems.Add(new SelectListItem
                                                            {
                                                                Text = "Only Male",
                                                                Value = "0"
                                                            });
                                                            listItems.Add(new SelectListItem
                                                            {
                                                                Text = "Only Female",
                                                                Value = "1"

                                                            });
                                                            listItems.Add(new SelectListItem
                                                            {
                                                                Text = "Other",
                                                                Value = "2"
                                                            });
                                                        }
                                                        @Html.DropDownList("genderList", listItems, new { @class = "form-control" })
                                                        @*<select class="form-control">
                                                            <option selected="">Select Gender</option>
                                                            <option>Male</option>
                                                            <option>Female</option>
                                                            <option>Other</option>
                                                        </select>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label>Location</label>
                                                    @{ List<SelectListItem> countryList = new List<SelectListItem>();
                                                        countryList.Add(new SelectListItem
                                                        {
                                                            Text = "Belgium",
                                                            Value = "0"
                                                        });
                                                        countryList.Add(new SelectListItem
                                                        {
                                                            Text = "Canada",
                                                            Value = "1"

                                                        });
                                                        countryList.Add(new SelectListItem
                                                        {
                                                            Text = "Denmark",
                                                            Value = "2"
                                                        });
                                                        countryList.Add(new SelectListItem
                                                        {
                                                            Text = "Estonia",
                                                            Value = "3"
                                                        });
                                                        countryList.Add(new SelectListItem
                                                        {
                                                            Text = "France",
                                                            Value = "4"
                                                        });
                                                        countryList.Add(new SelectListItem
                                                        {
                                                            Text = "France",
                                                            Value = "5"
                                                        });
                                                        countryList.Add(new SelectListItem
                                                        {
                                                            Text = "Poland",
                                                            Value = "6"
                                                        });
                                                        countryList.Add(new SelectListItem
                                                        {
                                                            Text = "Germany",
                                                            Value = "7"
                                                        });
                                                    }
                                                    @Html.DropDownList("countryDropList", countryList, new { @class = "form-control" })
                                                    @*<select class="form-control">
                                                        <option selected="">Select country</option>
                                                        <option>Belgium</option>
                                                        <option>Canada</option>
                                                        <option>Denmark</option>
                                                        <option>Estonia</option>
                                                        <option>France</option>
                                                        <option>Poland</option>
                                                        <option>Germany</option>
                                                    </select>*@
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label>Diet</label>
                                                    @{ List<SelectListItem> dietList = new List<SelectListItem>();
                                                        countryList.Add(new SelectListItem
                                                        {
                                                            Text = "Omnivore",
                                                            Value = "0"
                                                        });
                                                        countryList.Add(new SelectListItem
                                                        {
                                                            Text = "Omnivore_gf",
                                                            Value = "1"

                                                        });
                                                        countryList.Add(new SelectListItem
                                                        {
                                                            Text = "Keto",
                                                            Value = "2"
                                                        });
                                                        countryList.Add(new SelectListItem
                                                        {
                                                            Text = "Keto_gf",
                                                            Value = "3"
                                                        });
                                                        countryList.Add(new SelectListItem
                                                        {
                                                            Text = "Ovo_lacto_vegetarian",
                                                            Value = "4"
                                                        });
                                                        countryList.Add(new SelectListItem
                                                        {
                                                            Text = "Ovo_lacto_vegetarian_gf",
                                                            Value = "5"
                                                        });
                                                        countryList.Add(new SelectListItem
                                                        {
                                                            Text = "Vegetarian",
                                                            Value = "6"
                                                        });
                                                        countryList.Add(new SelectListItem
                                                        {
                                                            Text = "Vegetarian_gf",
                                                            Value = "7"
                                                        });
                                                        countryList.Add(new SelectListItem
                                                        {
                                                            Text = "Vegan",
                                                            Value = "8"
                                                        });
                                                        countryList.Add(new SelectListItem
                                                        {
                                                            Text = "Vegan_gf",
                                                            Value = "9"
                                                        });
                                                        countryList.Add(new SelectListItem
                                                        {
                                                            Text = "Other",
                                                            Value = "10"
                                                        });
                                                    }
                                                    @Html.DropDownList("dietDropList", countryList, new { @class = "form-control" })
                                                   @* <select class="form-control">
                                                        <option selected="">Select diet</option>
                                                        <option>Omnivore</option>
                                                        <option>Omnivore_gf</option>
                                                        <option>Keto</option>
                                                        <option>Keto_gf</option>
                                                        <option>Ovo_lacto_vegetarian</option>
                                                        <option>Ovo_lacto_vegetarian_gf</option>
                                                        <option>Vegetarian</option>
                                                        <option>Vegetarian_gf</option>
                                                        <option>Vegan</option>
                                                        <option>Vegan_gf</option>
                                                        <option>Other</option>
                                                    </select>*@
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col mb-3">
                                                    <div class="form-group">
                                                        <label>About</label>
                                                        <textarea class="form-control" rows="5"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="testy">
                                        <div class="change photo">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fa fa-fw fa-camera"></i>
                                                <span>Change Photo</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="save">
                                        <div class="col d-flex justify-content-end">
                                            @Html.ActionLink("Zapisz", "Post")
                                            <button class="btn btn-primary" type="submit">Save Changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
