@using VEdger.Models
@model LoginViewModel

<head>

    <link href="~/Style-Login.css" rel="stylesheet" />

</head>

<h4>@ViewBag.Title.</h4>
<body>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="loginbox" >
                          <img src="~/BgImage/Logo.png" alt="Alternate Text" class="user"/>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group-email">
                        @Html.LabelFor(m => m.Email, new { @class = "emailplace" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "txtemail" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group-pass">
                        @Html.LabelFor(m => m.Password, new { @class = "passplace" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "txtpass" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group-check">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group-submit">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btnsubmit" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Register now", "Register")
                    </p>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                }
            </section>
        </div>

    </div>
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}